.Form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 10px 20px;

  div {
    margin: 10px 0;
    display: flex;
    flex-flow: column;
  }
}

.FormContainer {
  margin: 10px 100px;
  border: 2px solid black;
  border-radius: 5%;
}